<script>
// Check that service workers are supported
if ("serviceWorker" in navigator) {
  // Use the window load event to keep the page load performant

  window.addEventListener("load", () => {
    navigator.serviceWorker.register("C:\Users\kouri\Downloads\h\sw.js");
  });
}
</script>

<div class="reading-content">
    <input type="hidden" id="wp-manga-current-chap" data-id="6431" value="overgeared-%e0%b8%95%e0%b8%ad%e0%b8%99%e0%b8%97%e0%b8%b5%e0%b9%88-94"/>


    <div class="page-break no-gaps">


        <img id="image-0" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-1.jpg" class="wp-manga-chapter-img">

</div>



        <div class="page-break no-gaps">


            <img id="image-1" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-2.jpg" class="wp-manga-chapter-img">

</div>



            <div class="page-break no-gaps">


                <img id="image-2" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-3.jpg" class="wp-manga-chapter-img">

</div>



                <div class="page-break no-gaps">


                    <img id="image-3" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-4.jpg" class="wp-manga-chapter-img">

</div>



                    <div class="page-break no-gaps">


                        <img id="image-4" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-5.jpg" class="wp-manga-chapter-img">

</div>



                        <div class="page-break no-gaps">


                            <img id="image-5" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-6.jpg" class="wp-manga-chapter-img">

</div>



                            <div class="page-break no-gaps">


                                <img id="image-6" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-7.jpg" class="wp-manga-chapter-img">

</div>



                                <div
                                    class="page-break no-gaps">


                                    <img id="image-7" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-8.jpg" class="wp-manga-chapter-img">

</div>



                                    <div
                                        class="page-break no-gaps">


                                        <img id="image-8" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-9.jpg" class="wp-manga-chapter-img">

</div>



                                        <div
                                            class="page-break no-gaps">


                                            <img id="image-9" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-10.jpg" class="wp-manga-chapter-img">

</div>



                                            <div
                                                class="page-break no-gaps">


                                                <img id="image-10" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-11.jpg" class="wp-manga-chapter-img">

</div>



                                                <div
                                                    class="page-break no-gaps">


                                                    <img id="image-11" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-12.jpg" class="wp-manga-chapter-img">

</div>



                                                    <div
                                                        class="page-break no-gaps">


                                                        <img id="image-12" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-13.jpg" class="wp-manga-chapter-img">

</div>



                                                        <div
                                                            class="page-break no-gaps">


                                                            <img id="image-13" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-14.jpg" class="wp-manga-chapter-img">

</div>



                                                            <div
                                                                class="page-break no-gaps">


                                                                <img id="image-14" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-15.jpg" class="wp-manga-chapter-img">

</div>



                                                                <div
                                                                    class="page-break no-gaps">


                                                                    <img id="image-15" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-16.jpg" class="wp-manga-chapter-img">

</div>



                                                                    <div
                                                                        class="page-break no-gaps">


                                                                        <img id="image-16" src="			
https://manga44.com/wp-content/uploads/WP-manga/data/manga_628cede460d15/862e0a5c0a51232f10134b972909eb88/Overgeared-Remake-94-17.jpg" class="wp-manga-chapter-img">

</div>


                                                                    </div>



                                                                </div>


                                                            </div>
                                                        </div>
                                                        <div class="entry-header footer"
                                                            id="manga-reading-nav-foot"
                                                            data-position="footer"
                                                            data-id="761">
                                                            <div
                                                                class="wp-manga-nav">
                                                                <div
                                                                    class="select-view">

                                                                    <!-- select host -->
                                                                    <div
                                                                        class="c-selectpicker selectpicker_version">
                                                                        <label>
            <select class="selectpicker host-select">
                            <option class="short" data-limit="40" value="local" data-redirect="https://manga44.com/manga/overgeared-remake-%e0%b9%82%e0%b8%ad%e0%b9%80%e0%b8%a7%e0%b8%ad%e0%b8%a3%e0%b9%8c%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b8%a2%e0%b8%a3%e0%b9%8c/overgeared-%e0%b8%95%e0%b8%ad%e0%b8%99%e0%b8%97%e0%b8%b5%e0%b9%88-94/?host=local"  selected='selected'>Server 1</option>
                    </select> 
            </label>
                                                                    </div>

                                                                    <!-- select volume -->

                                                                    <!-- select chapter -->
                                                                    <div class="chapter-selection chapters_selectbox_holder"
                                                                        data-manga="761"
                                                                        data-chapter="overgeared-%e0%b8%95%e0%b8%ad%e0%b8%99%e0%b8%97%e0%b8%b5%e0%b9%88-94"
                                                                        data-vol="0"
                                                                        data-type="manga"
                                                                        data-style="list">
                                                                        <!-- place holder -->
                                                                    </div>
                                                                </div>
                                                                <div
                                                                    class="select-pagination">
                                                                    <div
                                                                        class="nav-links">
                                                                        <i class="mobile-nav-btn icon ion-md-menu"></i>

                                                                        <div
                                                                            class="nav-previous ">
                                                                            <a href="https://manga44.com/manga/overgeared-remake-%e0%b9%82%e0%b8%ad%e0%b9%80%e0%b8%a7%e0%b8%ad%e0%b8%a3%e0%b9%8c%e0%b9%80%e0%b8%81%e0%b8%b5%e0%b8%a2%e0%b8%a3%e0%b9%8c/overgeared-%e0%b8%95%e0%b8%ad%e0%b8%99%e0%b8%97%e0%b8%b5%e0%b9%88-93/"
                                                                                class="btn prev_page">
                                                                                Prev
                                                                            </a>
                                                                        </div>
